{% extends 'base.html' %}
{% load bootstrap %}

{% block corpo %}
<div class="card card mb-3">
  <div class="card-header">
    <div class="col-auto align-self-center">
      <h5 class="mb-0"><img class="me-2" src="/static/images/extract.png" alt="" width="40" />{{ title }}</h5>
    </div>
  </div>
</div>
<br>
<!-- Card Header - Accordion -->
<button class="btn btn-falcon-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><span class="fas fa-filter"></span> Filtro</button><br>
<!-- Card Content - Collapse -->
<br>
<div class="card shadow mb-4">
  <div class="card overflow-hidden collapse" id="collapseFilter">
      <div class="card-body">
        <form action="." method="get">
          <div class="row">
            <div class="col-lg-3">
              {{ form.venc_inicial|bootstrap }}
            </div>
            <div class="col-lg-3">
              {{ form.venc_final|bootstrap }}
            </div>
            <div class="col-lg-3">
              {{ form.banco|bootstrap }}
            </div>
            {% if request.user.is_staff %}
            <div class="col-lg-3">
              {{ form.consistente_cliente|bootstrap }}
            </div>
            {% else %}
            <div class="col-lg-3">
              {{ form.somente_aberto|bootstrap }}
            </div>
            <div class="col-lg-3">
              <br>
            </div>
            {% endif %}
          </div>
          <br>
          <div class="col-lg-12">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </div>
        </form>
      </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Dados selecionados</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">Entradas no período: <b {% if soma_entradas < 0 %} style="color:red"{% endif %}>{{ soma_entradas }}</b></div>
      <div class="col-lg-3">Saídas no período: <b {% if soma_saidas < 0 %} style="color:red"{% endif %}>{{ soma_saidas }}</b></div>
      <div class="col-lg-3">Confronto: <b {% if confronto < 0 %} style="color:red"{% endif %}>{{ confronto }}</b></div>
      <div class="col-lg-3">Saldo final: <b {% if saldo_fim < 0 %} style="color:red"{% endif %}>{{ saldo_fim }}</b></div>
    </div>
  </div>
  <div class="card-body">
    <!-- <div id="tableExample" data-list='{"valueNames":["banco","parceiro","categoria","situacao","valor_entra","valor_sai","datavenc","datapago","acoes"],"page":25,"pagination":true}'> -->
      <div class="table-responsive scrollbar">
        <table class="table table-hover table-sm table-striped overflow-hidden table-bordered table-striped fs-10 mb-0">
          <thead class="bg-200">
            <tr>
              <th class="text-900 sort" data-sort="banco">Banco</th>
              <th class="text-900 sort" data-sort="parceiro">Parceiro</th>
              <th class="text-900 sort" data-sort="categoria">Categoria</th>
              <th class="text-900 sort" data-sort="situacao">Situação</th>
              <th class="text-900 sort" data-sort="valor_entra">Entra</th>
              <th class="text-900 sort" data-sort="valor_sai">Sai</th>
              <th class="text-900 sort" data-sort="valor_saldo">Saldo</th>
              <th class="text-900 sort" data-sort="datavenc">Vence em</th>
              <th class="text-900 sort" data-sort="datapag">Pago em</th>
              <th class="text-900 sort" data-sort="acoes">Ações</th>
            </tr>
          </thead>
          <tbody class="list">
            {% for diario in list_diario %}
            <tr>
              <td class="banco" >{{ diario.banco }}</td>
              <td class="parceiro" >{{ diario.parceiro }}</td>
              <td class="categoria" >{{ diario.categoria }}</td>
              <td class="situacao" >
                {% if not diario.banco %}
                <span class="badge badge rounded-pill badge-subtle-light">Saldo Inicial</span>
                {% elif diario.datapago %}
                <span class="badge badge rounded-pill badge-subtle-success">Pago</span>
                {% elif diario.datavenc > hoje %}
                <span class="badge badge rounded-pill badge-subtle-info">À vencer</span>
                {% else %}
                <span class="badge badge rounded-pill badge-subtle-danger">Vencido</span>
                {% endif %}
              </td>
              <td class="valor_entra" align="right"{% if diario.valor_entra < 0 %} style="color:red"{% endif %}>{{ diario.valor_entra }}</td>
              <td class="valor_sai" align="right"{% if diario.valor_sai < 0 %} style="color:red"{% endif %}>{{ diario.valor_sai }}</td>
              <td class="valor_saldo" align="right"{% if diario.valor_saldo < 0 %} style="color:red"{% endif %}>{{ diario.valor_saldo }}</td>
              <td class="datavenc" ><span hidden>"{{ diario.datavenc|date:'Ymd' }}"</span>{{ diario.datavenc|date:'d/m/Y' }}</td>
              <td class="datapago" ><span hidden>"{{ diario.datapago|date:'Ymd' }}"</span>{{ diario.datapago|date:'d/m/Y' }}</td>
              <td class="acoes" >
                {% if diario.banco %}
                {% if perms.manager.change_diario %}<a href="/relatorio/caixa/{{ diario.id }}/pagar/?from={{ request.get_full_path|urlencode }}" ><button class="btn btn-dark btn-sm" onclick="return confirm('Tem certeza que deseja confirmar o pagamento desse registro com data de hoje?');"><span class="fas fa-play"></span></button></a>{% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <!-- </div> -->
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    document.getElementById("id_parceiro").className += " select2 withtags";
    document.getElementById("id_categoria").className += " select2 withtags";
    var all = document.getElementsByClassName('select2');
    for (var i = 0; i < all.length; i++) {
      all[i].style.width = '100%';
    };
    $('.withtags').select2(
      {tags: true
      }
    );
  });
  </script>
  
{% endblock %}
