{% extends 'base.html' %}
{% load bootstrap %}

{% block corpo %}
<div class="card card mb-3">
  <div class="card-header">
    <div class="col-auto align-self-center">
      <h5 class="mb-0"><img class="me-2" src="/static/images/parceiros.png" alt="" width="40" />{{ title }}</h5>
    </div>
  </div>
</div>
<br>
{% if perms.manager.add_parceiro %}
<div class="col-lg-12">
  <a href="/parceiro/add/" ><button class="btn btn-info btn-sm"><span class="fas fa-plus"></span> Adicionar </button></a>
</div>
{% endif %}
<br>
<!-- Card Header - Accordion -->
<button class="btn btn-falcon-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><span class="fas fa-filter"></span> Filtro</button><br>
<!-- Card Content - Collapse -->
<br>
<div class="card shadow mb-4">
  <div class="card overflow-hidden collapse" id="collapseFilter">
      <div class="card-body">
        <form action="." method="get">
          <div class="row">
            {% if request.user.is_staff %}
            <div class="col-lg-3">
              {{ form.consistente_cliente|bootstrap }}
            </div>
            {% endif %}
            <div class="col-lg-3">
              {{ form.nome|bootstrap }}
            </div>
            <div class="col-lg-3">
              {{ form.nomecompleto|bootstrap }}
            </div>
            <div class="col-lg-3">
              {{ form.tipo|bootstrap }}
            </div>
            <div class="col-lg-3">
              {{ form.doc|bootstrap }}
            </div>
            <div class="col-lg-3">
              {{ form.endereco|bootstrap }}
            </div>
          </div>
          <br>
          <div class="col-lg-12">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </div>
        </form>
      </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Dados selecionados</h6>
  </div>
  <div class="card-body">
    <div id="tableExample3" data-list='{"valueNames":["nome","nomecompleto","tipo","doc","cidade","modo","acoes"],"page":25,"pagination":true}'>
      <div class="row justify-content-end g-0">
        <div class="col-auto col-sm-5 mb-3">
          <form>
            <div class="input-group">
              <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
              <div class="input-group-text bg-transparent"><span class="fa fa-search fs-10 text-600"></span></div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive scrollbar">
        <table class="table table-sm table-bordered table-striped fs-10 mb-0">
          <thead class="bg-200">
            <tr>
              <th class="text-900 sort" data-sort="nome">Nome Curto</th>
              <th class="text-900 sort" data-sort="nomecompleto">Nome Completo</th>
              <th class="text-900 sort" data-sort="tipo">Tipo</th>
              <th class="text-900 sort" data-sort="doc">CPF/CNPJ</th>
              <th class="text-900 sort" data-sort="cidade">Cidade</th>
              <th class="text-900 sort" data-sort="modo">Relacionamento</th>
              <th class="text-900 sort" data-sort="acoes">Ações</th>
            </tr>
          </thead>
          <tbody class="list">
            {% for parceiro in list_parceiro %}
            <tr>
              <th class="nome" scope="row">{{ parceiro.nome }}</th>
              <td class="nomecompleto">{{ parceiro.nomecompleto|default_if_none:"" }}</td>
              <td class="tipo">{{ parceiro.get_tipo_display }}</td>
              <td class="doc">{{ parceiro.doc|default_if_none:"" }}</td>
              <td class="cidade">{{ parceiro.cidade|default_if_none:"" }}</td>
              <td class="modo">{{ parceiro.get_modo_display }}</td>
              <td class="acoes">{% if perms.manager.change_parceiro %}<a href="/parceiro/{{ parceiro.id }}/edit/" ><button class="btn btn-info"><span class="fas fa-pen"></span></button></a>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Anterior" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="pagination mb-0"></ul>
        <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Próximo" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
